* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #87c0cd;
    position: relative;
    padding-bottom: 212px;
}

#checkbox-login {
    font-size: 12px;
}

.button {
    margin-top: 20px;
    width: 40%;
    border-radius: 20px;
    background: #113f67;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    color: #f3f9fb;
    border: #113f67;
}

.button1 {
    margin-top: 40px;
    width: 40%;
    border-radius: 20px;
    background: #113f67;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    color: #f3f9fb;
    border: #113f67;
}

.button:hover {
    background: #226597;
}

form  > p{
    text-align: center;
    font-size: 20px;
}

input[type="password"], input[type="email"]{
    padding: 8px;
    border-radius: 4px;
    margin-top: 5px;
    width: 100%;
    border-color: #113f67;
}


.formulario {
    border-radius: 15px;
    width: 350px;
    height: 482px;
    background: #f3f9fb;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    
}

.pequeña {
    font-size: 11px;
    text-decoration: none;
    color: black;
}

.pequeña a {
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #113f67;
}

.linea {
    border-top: 2px solid #113f67;
    height: 2px;
    width: 100%;
    padding: 0;
    margin: 15px auto 10px auto;
}

.footercontainer {
    width: 100%;
    background: #f3f9fb;
    padding: 30px;
    position: absolute;
    bottom: 0;
}

.derechos {
    margin-top: 6px;
    text-align: center;
    font-size: 10px;
    height:5% ;
    background-color: #f3f9fb;
    color: #113f67;
}

